*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ffdb42;
  background-image: url("https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  max-width: 1200px;
  font-size: 15px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture__container {
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 95%;
}
.card-container .description {
  text-align: center;
  background-color: #1877f2;
  color: rgba(255, 255, 255, 0.871);
  width: 400px;
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #ffdb42;
}
.card-container .description h3 {
  margin-bottom: 25px;
}
.card-container .description .student__detials {
  text-align: center;
}
.card-container .description .student__detials .picture__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.card-container .description .location__container {
  margin-top: 30px;
}
.spaces {
  margin: 10px 0;
}
.card-container .description .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.card-container .description .btn-container button {
  padding: 9px 33px;
  border-radius: 30px;
  border: none;
  color: rgba(255, 255, 255, 0.871);
  font-size: 10px;
  background-color: #ffdb42;
  color: #fff;
  font-weight: bolder;
}
.card-container .description .btn-container button:hover {
  cursor: pointer;
  background-color: #ff5d00;
  color: #fff;
}
.card-container .description .btn-container button:focus {
  background: #ffdb42;
}
